// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-gray {
    background: rgb(236, 236, 236);
}

.circle {

    border-radius: 50px;
    color: white;
    height: 50px;
    font-weight: bold;
    width: 50px;
    display: table;
    margin: 5px auto;
}